<div class="container">
    <h5 class="font-weight-bold text-uppercase">
        <strong>[Nombre de la habitacion]</strong>
    </h5>
    <p class="grey-text mt-2 text-justify">
        [Descripcion de la habitacion] Some quick example text to build on the card title and make up the bulk of the
        card's content. Some quick example text to build on the card title and make up the bulk of the. Some quick
        example text to build on the card title and make up the bulk of the. Some quick example text to build on the
        card title and make up the bulk of the. Some quick example text to build on the card title and make up the bulk
        of the. Some quick example text to build on the card title and make up the bulk of the
    </p>
    <table class="table text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">Plan</th>
                <th scope="col">Precio/Dia</th>
                <th scope="col">Reservar</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Plan 1</td>
                <td>$200</td>
                <td><a >Seleccionar</a></td>
            </tr>
            <tr>
                <td>Plan 2</td>
                <td>$500</td>
                <td><a >Seleccionar</a></td>
            </tr>
            <tr>
                <td>Plan 3</td>
                <td>$999</td>
                <td><a >Seleccionar</a></td>
            </tr>
        </tbody>
    </table>
</div>