<main role="main">


  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron image-fondo1">
    <div class="row justify-content-center">
      <div class="col-5 ">
        <h1 class="display-1 ">Hello, world!</h1>
        <!-- <img src="../../assets/hotel.jpg" class="img-fluid" alt="Responsive image"> -->
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
          jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
      <div class="col-1"></div>
      <div class="col-4 col-md-auto align-self-center">
        <app-sign-up></app-sign-up>
      </div>
    </div>


  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
          felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../assets/neonbrand-199264.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Hotel Restaurant</h5>
          <p class="card-text text-justify">This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.</p>

        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/geoffrey-arduini-176853.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Explore new places</h5>
          <p class="card-text text-justify">This card has supporting text below as a natural lead-in to additional
            content.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/sam-wheeler-2304.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Closed beach</h5>
          <p class="card-text text-justify">This is a wider card with supporting text below as a natural lead-in to
            additional content. This card has even longer content than the first to show that equal height action.
          </p>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
  <hr>
  <div class=" jumbotron image-fondo2">
    <div class=" container ">
      <h2 class="text-center">Reseñas</h2>
      <div class="row">
        
        <div class="card-deck">
          <div class="card bg-light mb-3">
            <img class="d-flex mx-auto imgPerfiles" src="../../assets/elen-laureano-333976-1.jpg">
            <div class="card-body">
              <h5 class="card-title text-center">Valeria</h5>
              <p class="card-text text-justify">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                ac
                cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
                malesuada magna mollis euismod. Donec sed odio dui.</p>

            </div>
          </div>
          <div class="card bg-light mb-3">
            <img class="d-flex mx-auto imgPerfiles" src="../../assets/girl.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">Ana</h5>
              <p class="card-text text-justify">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                ac
                cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
                malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
          </div>
          <div class="card bg-light mb-3">
            <img class="d-flex mx-auto imgPerfiles" src="../../assets/user-review.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">Valentina</h5>
              <p class="card-text text-justify">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                ac
                cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
                malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="row d-flex justify-content-center">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.2244684268103!2d-75.5098177499794!3d5.067331596304001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e47657780a87f5d%3A0x8966f5d3b9231db9!2sHotel%20Carretero!5e0!3m2!1ses!2sco!4v1604276985145!5m2!1ses!2sco"
      width="800" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </div>



</main>