<div>
  <div class="card card-personal">

    <div class="view overlay">
      <img class="card-img-top" [src]="habitacion?.urlImage" alt="Card image cap">
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <h5 class="font-weight-bold text-uppercase">
            <strong>Habitación {{ habitacion?.__t }}</strong>

          </h5>
        </div>
        <div class="col-2" style="float: right;">
          <span class="badge badge-info py-2 px-2">${{ costo }}</span>
        </div>
      </div>






      <p class="grey-text mt-2 text-justify">
        {{ habitacion?.descripcion }}
      </p>

      <div class="row">

        <div class="col-lg col-md text-center ">
          <p class="dark-grey-text">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
              <path fill-rule="evenodd"
                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
            </svg>
            {{habitacion?.capacidad}}
          </p>
        </div>

        <div class="col-lg  text-center">
          <p class="dark-grey-text">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-egg-fried" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M13.665 6.113a1 1 0 0 1-.667-.977L13 5a4 4 0 0 0-6.483-3.136 1 1 0 0 1-.8.2 4 4 0 0 0-3.693 6.61 1 1 0 0 1 .2 1 4 4 0 0 0 6.67 4.087 1 1 0 0 1 1.262-.152 2.5 2.5 0 0 0 3.715-2.905 1 1 0 0 1 .341-1.113 2.001 2.001 0 0 0-.547-3.478zM14 5c0 .057 0 .113-.003.17a3.001 3.001 0 0 1 .822 5.216 3.5 3.5 0 0 1-5.201 4.065 5 5 0 0 1-8.336-5.109A5 5 0 0 1 5.896 1.08 5 5 0 0 1 14 5z" />
              <circle cx="8" cy="8" r="3" />
            </svg>
            Almuerzos
          </p>
        </div>

        <div class="col-lg-4 col-md-4 text-center">
          <p class="dark-grey-text">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-wifi-2" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.229 8.271c.216-.216.194-.578-.063-.745A9.456 9.456 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.577 1.336c.205.132.48.108.652-.065zm-2.183 2.183c.226-.226.185-.605-.1-.75A6.473 6.473 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.408.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.611-.091l.015-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .708 0l.707-.707z" />
            </svg>
            Wi-Fi
          </p>
        </div>

      </div>
      <div class="col-12 text-center">
        <button type="button" data-toggle="modal" data-target="#modalRoom" 
          class="btn btn-info btn-sm font-weight-bold btn-rounded" pageScroll href="#booking">
          <strong>Reservar</strong>
        </button>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalRoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Habitación {{ habitacion?.__t }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-reservation [habitacion]="habitacion"></app-reservation>
        </div>
      </div>
    </div>
  </div>
  <!-- <img class="card-img-top" [src]="habitacion?.urlImage" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Habitación {{ habitacion?.__t }}</h5>
      <p class="card-text">{{ habitacion?.descripcion }}</p>
      <p class="card-text">Capacidad: {{ habitacion?.capacidad }}</p>
      <div>
        <span class="badge badge-primary mr-5">${{ costo }}/N</span>
        <button
          type="button"
          class="btn btn-secondary btn-sm ml-5"
          data-toggle="modal"
          data-target="#modalRoom"
          *ngIf="getAuthUser()"
        >
          Reservar
        </button>
      </div>
      <div
        class="modal fade"
        id="modalRoom"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Habitación {{ habitacion?.__t }}
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-reservar [habitacion]="habitacion"></app-reservar>
            </div>
          </div>
        </div>
      </div>
    </div> -->
</div>