<div class="container">
  <div class="row justify-content-around pb-5">
    <div class="col-4 text-center">
      <h2>Usuarios</h2>
      <ul class="list-group">
        <li class="list-group-item active">Michael</li>
        <li class="list-group-item">Steven</li>
        <li class="list-group-item">Sebastián</li>
        <li class="list-group-item">Daniel</li>
        <li class="list-group-item">Milo</li>
        <li class="list-group-item ">Jhonny</li>
        <li class="list-group-item">Jesús</li>
        <li class="list-group-item">Ana</li>
        <li class="list-group-item">Camila</li>
        <li class="list-group-item">Angela</li>
        <li class="list-group-item">Daniel</li>
        <li class="list-group-item">Milo</li>
      </ul>
    </div>

    <div class="col-4 text-center">
      <h2>Habitaciones</h2>
      <ul class="list-group">
        <li class="list-group-item active">Hab 101</li>
        <li class="list-group-item">Hab 102</li>
        <li class="list-group-item">Hab 103</li>
        <li class="list-group-item">Hab 104</li>
        <li class="list-group-item">Hab 201</li>
        <li class="list-group-item ">Hab 202</li>
        <li class="list-group-item">Hab 203</li>
        <li class="list-group-item">Hab 204</li>
        <li class="list-group-item">Hab 205</li>
        <li class="list-group-item">Hab 206</li>
        <li class="list-group-item">Hab 207</li>
        <li class="list-group-item">Hab 208</li>
      </ul>
    </div>
  </div>

</div>
